* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main2 {
  height: 100vh;
  width: 100vw;
}

.mtop {
  height: 10%;
  width: 100%;
  background-color: #fff;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.tl, .tr {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.tl {
  justify-content: flex-start;
}

.tr {
  justify-content: flex-end;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

.heading {
  font-family: system-ui, sans-serif;
}

.mbottom {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bl, .bm, .br {
  height: 96%;
  width: 30%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bl {
  background-color: #e6f2ff;
}

.bm {
  background-color: #f5f5f5;
}

.br {
  background-color: #fff2e6;
}

.ltop, .middle_top, .right_top {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 30px;
}

.section-title {
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lbottom, .middle_bottom, .right_bottom {
  height: 90%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
}

.goal-input {
  height: 40px;
  width: 90%;
  border-radius: 10px;
  padding: 0 20px;
  font-size: large;
  border: 1px solid #ccc;
}

.add-btn {
  height: 40px;
  width: 90%;
  background-color: rgb(32, 32, 244);
  color: white;
  border-radius: 10px;
  font-size: large;
  border: none;
  cursor: pointer;
}

.goal-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.goal-action i {
  margin-left: 10px;
  cursor: pointer;
  color: #555;
  transition: color 0.3s ease;
}

.goal-action i:hover {
  color: #007bff;
}

.goal-category {
  font-size: 13px;
  color: #444;
  font-weight: 500;
  margin-top: 1px;
  display: inline-block;
  font-style: italic;
}